---
layout: default
---

<div class="home">

  {% for post in site.posts %}

    {% capture current_column %}{% cycle '1', '2', '3' %}{% endcapture %}

    {% case current_column %}
      {% when '1' %}
        <div class="gr-row">
          <div class="gr-col overlay-parent">
            <a href="{{ post.url | prepend: site.baseurl }}">
              <img class="opaque-image" src="images/{{ post.thumbnail }}" />
              <div class="overlay-text-wrapper">
                <span class="overlay-text">{{ post.title }}</span>
              </div>
            </a>
          </div>
      {% when '2' %}
        <div class="gr-col overlay-parent">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="opaque-image" src="images/{{ post.thumbnail }}" />
            <div class="overlay-text-wrapper">
              <span class="overlay-text">{{ post.title }}</span>
            </div>
          </a>
        </div>
      {% when '3' %}
        <div class="gr-col overlay-parent">
          <a href="{{ post.url | prepend: site.baseurl }}">
            <img class="opaque-image" src="images/{{ post.thumbnail }}" />
            <div class="overlay-text-wrapper">
              <span class="overlay-text">{{ post.title }}</span>
            </div>
          </a>
        </div> 
    {% endcase %}

    {% if forloop.last %}
      {% capture length_mod_3 %}{{ forloop.length | modulo : 3 }}{% endcapture %}
      {% if length_mod_3 != '0' %}
          <!-- Oh what fun this language is. -->
        </div>
      {% endif %}
    {% endif %}
  {% endfor %}

</div>
