<head>

  {% capture description %}{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}{% endcapture %}

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- https://developers.google.com/web/fundamentals/design-and-ui/responsive/ -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ description }}">

  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,200' rel='stylesheet' type='text/css'></link>
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript" async src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>

  <!-- Facebook Open Graph Tags -->
  <meta property="og:url"                content="{{ site.url }}{{ page.url }}" />
  <meta property="og:type"               content="article" />
  <meta property="og:title"              content="{{ page.title }}" />
  <!-- If description is empty, it's OK because facebook makes up a nice one anyway. -->
  <meta property="og:description"        content="{{ description }}" />
  {% if page.thumbnail %}
  <meta property="og:image"              content="{{ site.url }}/images/{{ page.thumbnail }}" />
  {% endif %}
  
  <!-- Twitter Card Tags -->
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site.url }}/images/{{ page.thumbnail }}">

</head>
